name: Install and test eslint-plugin-ava
on:
  push:
    branches:
    - main
  pull_request:
    paths-ignore:
    - '*.md'
jobs:
  nodejs:
    name: Node.js
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node-version: [^20.19]
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm install --no-audit --legacy-peer-deps
      - run: npm test
      - uses: codecov/codecov-action@v3

  # TODO: Enable when typescript-eslint supports ESLint 10
  # integration:
  #   name: Integration tests
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v6
  #     - uses: actions/setup-node@v6
  #     - run: npm install --no-audit --legacy-peer-deps
  #     - run: npm run integration
  #     - uses: codecov/codecov-action@v3
