name: Install and test eslint-plugin-ava
on:
  push:
    branches:
    - master
  pull_request:
    paths-ignore:
    - '*.md'
jobs:
  nodejs:
    name: Node.js
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node-version: [^12.22, ^14.17, ^16.4]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm install --no-audit
      - run: npx c8 ava
      - uses: codecov/codecov-action@v2
      # `xo` can't work on ESLint 8 and Node.js 16 yet
      - if: ${{ matrix.node-version == '^14.17' }}
        run: npm install eslint@7 && npx xo

  # FIXME: https://github.com/avajs/eslint-plugin-ava/issues/333
  # integration:
  #   name: Integration tests
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v2
  #     - uses: actions/setup-node@v2
  #     - run: npm install --no-audit
  #     - run: npm run integration
  #     - uses: codecov/codecov-action@v2
